{{define "footer"}}
<footer class="section section-primary">
  <div class="container-fluid footer-menu">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <ul class="list-unstyled">
              <li class="lead">Sections</li>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/about">About</a>
              </li>
              <li>
                <a href="/policy">Privacy Policy</a>
              </li>
              <li>
                <a href="/terms">Terms of Use</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled">
              <li class="lead">Help</li>
              <li>
                <a href="/support">Support</a>
              </li>
              <li>
                <a href="https://github.com/tvtio">Github</a>
              </li>
            </ul>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-5">
            <h2>tvt.io</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid copyright">
    <div class="row">
      <div class="col-sm-12">
        <p>
          <center>CopyRight &copy; 2015 - tvt.io</center>
        </p>
      </div>
    </div>
  </div>
</footer>
{{end}}
