h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 3.5em;
  margin-top: 0;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 2.5em;
}

.navbar {
  margin-bottom: 0;
}

.searchform {
    text-align: center;
    background-color: #f4f4f4;
    padding-top: 30px;
}

.searchform form {
  padding: 30px 0;
}

.media-list > li {
    padding-top: 20px;
}

.media p {
  font-size: 0.9em;
}

.media-object {
  margin-right: 10px;
}

footer {
  margin-bottom: 15px;
  margin-top: 30px;
  padding-top: 30px;
  background-color: #f4f4f4;
}

footer  h2 {
  margin-top: 0;
  padding-top: 0;
  color: #337AB7;
}

footer ul li {
  line-height: 1.8;
}
footer  ul li.lead {
  font-weight: bold;
  margin-bottom: 10px;
}

.copyright {
  margin-top: 15px;
  padding-top: 15px;
  font-size: 0.8em;
  background-color: #fff;
}

.footer-menu {
}
