doctype html
html(lang="es")
    head
        title moview.io
        include ./partials/css.jade
    body
        include ./partials/home.header.jade
        div.container
            div.row
                div.col-xs-12
                    h1 moview.io
                    hr
                    p about
        include ./partials/home.footer.jade
        include ./partials/js.jade
