<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/img/favicon.png">
        <title>tvt.io - About</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '910962655664722',
            xfbml      : true,
            version    : 'v2.4'
          });
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
        </script>
        <!-- Nav -->
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">tvt.io</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      {{ if .User.ID }}
                      <li>
                        <a href="/user/{{.User.ID}}">{{.User.Name}}</a>
                      </li>
                      <li>
                        <a href="/logout">Logout</a>
                      </li>
                      {{else}}
                      <li>
                        <a href="/login">Login</a>
                      </li>
                      {{end}}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="searchform">
                <h1>Sign-in</h1>
                <p class="lead">
                <p class="lead">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                <br>
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
                <div class="row">
                  <div class="col-md-3">
                  </div>
                  <div class="col-md-3">
                    <a class="btn btn-primary btn-lg" href="/auth/twitter" role="button"><i class="fa fa-twitter-square"></i> Twitter</a>
                  </div>
                  <div class="col-md-3">
                    <a class="btn btn-primary btn-lg" href="/auth/facebook" role="button"><i class="fa fa-facebook-square"></i> Facebook</a>
                  </div>
                  <div class="col-md-3">
                  </div>
                </div>
            </div>
            <div class="row">
              <hr>
            </div>
        </div>
        <footer class="section section-primary">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <p><center>CopyRight &copy; 2015 - tvt.io</center></p>
              </div>
            </div>
          </div>
        </footer>
        <script src="//code.jquery.com/jquery-1.11.3.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
