<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/img/favicon.png">
        <title>tvt.io - Search results for : {{.Query}}</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body>
      {{template "facebook"}}
      <!-- Nav -->
      <nav class="navbar navbar-inverse">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">tvt.io</a>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                      <li class="active"><a href="/">Home</a></li>
                      <li><a href="/about">About</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    {{ if .User }}
                    <li>
                      <a href="/user/{{.User.ID}}">{{.User.Name}}</a>
                    </li>
                    <li>
                      <a href="/logout">Logout</a>
                    </li>
                    {{else}}
                    <li>
                      <a href="/login">Login</a>
                    </li>
                    {{end}}
                  </ul>
              </div>
          </div>
      </nav>
      <div class="container search">
          <div class="searchform">
              <h1>Search results for: <small>{{.Query}}</small></h1>
              <p class="lead">
              {{.Results.TotalResults}} results found in {{.Results.TotalPages}} pages.
              </p>
              <div class="row">
                  <div class="col-md-offset-3 col-md-6">
                      <form role="form" method="get" action="/search">
                          <div class="form-group">
                              <div class="input-group">
                                  <input type="text" name="q" class="form-control" value="{{.Query}}" placeholder="">
                                  <span class="input-group-btn">
                                      <a class="btn btn-success" type="submit">Search</a>
                                  </span>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="row">
            <hr>
          </div>
      </div>
      <div class="container results">
          <div class="row">
              <div class="col-md-12">
                  <ul class="media-list">
                    {{range .Results.Results}}
                      <li class="media">
                          <a class="pull-left" href="/movie/{{.ID}}">
                            <img class="media-object" src="http://image.tmdb.org/t/p/w154/{{.PosterPath}}" width="154">
                          </a>
                          <div class="media-body">
                              <h2 class="media-heading">
                                <a href="/movie/{{.ID}}">{{.Title}}</a>
                              </h2>
                              <p>{{.Overview}}</p>
                          </div>
                      </li>
                    {{end}}
                  </ul>
              </div>
          </div>
          <div class="row">
            <hr>
          </div>
      </div>
      {{template "footer"}}
      {{template "javascript"}}
  </body>
</html>
